{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [fizzbuzz]}
]}.

{relx, [{release, {default, "0.1"},
         [fizzbuzz]},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, false},
        {vm_args, "./config/vm.args"}]}.
